<div class="ayy-card" style="inline-size: 100%; max-inline-size: 26rem">
  <div class="ayy-card__header">
    <div class="ayy-spread">
      <h3 class="ayy-card__title">Top pages</h3>
      <span class="ayy-muted">Views</span>
    </div>
  </div>
  <div class="ayy-card__content">
    <ol class="ayy-bar-list">
      <li class="ayy-bar-list__item" style="--ayy-value: 100">
        <span class="ayy-bar-list__label"><a class="ayy-link" href="#pricing">/pricing</a></span>
        <span class="ayy-bar-list__value">8,210</span>
      </li>
      <li class="ayy-bar-list__item" style="--ayy-value: 84.4">
        <span class="ayy-bar-list__label"><a class="ayy-link" href="#home">/</a></span>
        <span class="ayy-bar-list__value">6,930</span>
      </li>
      <li class="ayy-bar-list__item" style="--ayy-value: 50.2">
        <span class="ayy-bar-list__label"><a class="ayy-link" href="#launch-week">/blog/launch-week</a></span>
        <span class="ayy-bar-list__value">4,120</span>
      </li>
      <li class="ayy-bar-list__item" style="--ayy-value: 36.3">
        <span class="ayy-bar-list__label"><a class="ayy-link" href="#getting-started">/docs/getting-started</a></span>
        <span class="ayy-bar-list__value">2,980</span>
      </li>
      <li class="ayy-bar-list__item" style="--ayy-value: 14.7">
        <span class="ayy-bar-list__label"><a class="ayy-link" href="#changelog">/changelog</a></span>
        <span class="ayy-bar-list__value">1,210</span>
      </li>
    </ol>
  </div>
</div>
