<figure class="ayy-chart ayy-chart--stacked" style="--ayy-chart-height: 10rem; inline-size: 100%; max-inline-size: 28rem">
  <div class="ayy-chart__plot" aria-hidden="true">
    <div class="ayy-chart__bars">
      <div class="ayy-chart__column">
        <span class="ayy-chart__bar" data-value="42" style="--ayy-value: 42"></span>
        <span class="ayy-chart__bar" data-value="28" style="--ayy-value: 28"></span>
        <span class="ayy-chart__bar" data-value="9" style="--ayy-value: 9"></span>
      </div>
      <div class="ayy-chart__column">
        <span class="ayy-chart__bar" data-value="38" style="--ayy-value: 38"></span>
        <span class="ayy-chart__bar" data-value="34" style="--ayy-value: 34"></span>
        <span class="ayy-chart__bar" data-value="12" style="--ayy-value: 12"></span>
      </div>
      <div class="ayy-chart__column">
        <span class="ayy-chart__bar" data-value="51" style="--ayy-value: 51"></span>
        <span class="ayy-chart__bar" data-value="30" style="--ayy-value: 30"></span>
        <span class="ayy-chart__bar" data-value="8" style="--ayy-value: 8"></span>
      </div>
      <div class="ayy-chart__column">
        <span class="ayy-chart__bar" data-value="47" style="--ayy-value: 47"></span>
        <span class="ayy-chart__bar" data-value="41" style="--ayy-value: 41"></span>
        <span class="ayy-chart__bar" data-value="10" style="--ayy-value: 10"></span>
      </div>
      <div class="ayy-chart__column">
        <span class="ayy-chart__bar" data-value="33" style="--ayy-value: 33"></span>
        <span class="ayy-chart__bar" data-value="26" style="--ayy-value: 26"></span>
        <span class="ayy-chart__bar" data-value="7" style="--ayy-value: 7"></span>
      </div>
    </div>
  </div>
  <div class="ayy-chart__labels" aria-hidden="true">
    <span>Mon</span>
    <span>Tue</span>
    <span>Wed</span>
    <span>Thu</span>
    <span>Fri</span>
  </div>
  <ul class="ayy-chart__legend" aria-hidden="true">
    <li class="ayy-chart__legend-item"><span class="ayy-chart__swatch"></span>Email</li>
    <li class="ayy-chart__legend-item"><span class="ayy-chart__swatch"></span>Chat</li>
    <li class="ayy-chart__legend-item"><span class="ayy-chart__swatch"></span>Phone</li>
  </ul>
  <table class="ayy-sr-only">
    <caption>Support tickets per weekday, by channel</caption>
    <thead>
      <tr>
        <td></td>
        <th scope="col">Email</th>
        <th scope="col">Chat</th>
        <th scope="col">Phone</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Mon</th>
        <td>42</td>
        <td>28</td>
        <td>9</td>
      </tr>
      <tr>
        <th scope="row">Tue</th>
        <td>38</td>
        <td>34</td>
        <td>12</td>
      </tr>
      <tr>
        <th scope="row">Wed</th>
        <td>51</td>
        <td>30</td>
        <td>8</td>
      </tr>
      <tr>
        <th scope="row">Thu</th>
        <td>47</td>
        <td>41</td>
        <td>10</td>
      </tr>
      <tr>
        <th scope="row">Fri</th>
        <td>33</td>
        <td>26</td>
        <td>7</td>
      </tr>
    </tbody>
  </table>
</figure>
