<dl class="ayy-data-list ayy-data-list--row" style="inline-size: 100%">
  <div class="ayy-data-list__item">
    <dt class="ayy-data-list__label">Role</dt>
    <dd class="ayy-data-list__value">Product designer</dd>
  </div>
  <div class="ayy-data-list__item">
    <dt class="ayy-data-list__label">Company</dt>
    <dd class="ayy-data-list__value"><a class="ayy-link" href="#oktopost">oktopost.com</a></dd>
  </div>
  <div class="ayy-data-list__item">
    <dt class="ayy-data-list__label">Years</dt>
    <dd class="ayy-data-list__value">2023 – present</dd>
  </div>
  <div class="ayy-data-list__item">
    <dt class="ayy-data-list__label">Platform</dt>
    <dd class="ayy-data-list__value">Web, mobile web &amp; email</dd>
  </div>
</dl>
