<button type="button" class="ayy-button">Primary</button>
<button type="button" class="ayy-button ayy-button--secondary">Secondary</button>
<button type="button" class="ayy-button ayy-button--outline">Outline</button>
<button type="button" class="ayy-button ayy-button--ghost">Ghost</button>
<button type="button" class="ayy-button ayy-button--destructive">Delete</button>
<button type="button" class="ayy-button ayy-button--link">Link</button>
<button type="button" class="ayy-button" disabled>Disabled</button>
