<nav class="ayy-breadcrumb" aria-label="Breadcrumb">
  <ol class="ayy-breadcrumb__list">
    <li class="ayy-breadcrumb__item"><a class="ayy-breadcrumb__link" href="#home">Home</a></li>
    <li class="ayy-breadcrumb__item"><a class="ayy-breadcrumb__link" href="#work">Case studies</a></li>
    <li class="ayy-breadcrumb__item"><span aria-current="page">Oktopost</span></li>
  </ol>
</nav>
<nav class="ayy-breadcrumb ayy-breadcrumb--pill" aria-label="Breadcrumb, pill">
  <ol class="ayy-breadcrumb__list">
    <li class="ayy-breadcrumb__item"><a class="ayy-breadcrumb__link" href="#home">Home</a></li>
    <li class="ayy-breadcrumb__item"><span aria-current="page">My projects</span></li>
  </ol>
</nav>
