<fieldset class="ayy-radio-group">
  <legend class="ayy-radio-group__legend">Visibility</legend>
  <label class="ayy-label"><input type="radio" class="ayy-radio" name="visibility-html" value="private" /> Only me</label>
  <label class="ayy-label"><input type="radio" class="ayy-radio" name="visibility-html" value="team" checked /> My team</label>
  <label class="ayy-label"><input type="radio" class="ayy-radio" name="visibility-html" value="public" /> Anyone with the link</label>
</fieldset>
<fieldset class="ayy-radio-group ayy-radio-group--horizontal">
  <legend class="ayy-radio-group__legend">Billing</legend>
  <label class="ayy-label"><input type="radio" class="ayy-radio" name="billing-html" value="monthly" checked /> Monthly</label>
  <label class="ayy-label"><input type="radio" class="ayy-radio" name="billing-html" value="yearly" /> Yearly</label>
</fieldset>
