<div class="ayy-stack">
  <div class="ayy-field ayy-field--inline">
    <input class="ayy-switch" type="checkbox" role="switch" id="sw-sync-html" checked />
    <label class="ayy-label" for="sw-sync-html">Sync on save</label>
  </div>
  <div class="ayy-field ayy-field--inline">
    <input class="ayy-switch" type="checkbox" role="switch" id="sw-telemetry-html" />
    <label class="ayy-label" for="sw-telemetry-html">Share anonymous usage</label>
  </div>
  <div class="ayy-field ayy-field--inline">
    <input class="ayy-switch" type="checkbox" role="switch" id="sw-disabled-html" disabled checked />
    <label class="ayy-label" for="sw-disabled-html">Managed by your organisation</label>
  </div>
</div>
