<div class="ayy-grid" style="--ayy-min: 10rem; inline-size: 100%">
  <div class="ayy-stat">
    <p class="ayy-stat__label">On Dribbble since 2017</p>
    <p class="ayy-stat__value">373k<span class="ayy-stat__unit">Views</span></p>
  </div>
  <div class="ayy-stat">
    <p class="ayy-stat__label">Figma Community resources</p>
    <p class="ayy-stat__value">200k<span class="ayy-stat__unit">Downloads</span></p>
  </div>
  <div class="ayy-stat ayy-stat--sm">
    <p class="ayy-stat__label">Playnite extensions</p>
    <p class="ayy-stat__value">4.2k<span class="ayy-stat__unit">Downloads</span></p>
  </div>
</div>
